<div class="left-content">
    <nav class="mdc-permanent-drawer mobile-hide drawer mdc-toolbar-fixed-adjust">
        <div class="mdc-list-group">
            <nav class="mdc-list">
                <a class="mdc-list-item drawer-home" href="~/">
                    <i class="material-icons mdc-list-item__start-detail" aria-hidden="true">home</i>Página Inicial
                </a>
            </nav>

            <hr class="mdc-list-divider">

            <nav class="mdc-list">
                <span class="uppercase subheader">Opções 1</span>
                <a class="mdc-list-item mdc-permanent-drawer--selected" href="/PlanoClassificacao">
                    <i class="material-icons mdc-list-item__start-detail" aria-hidden="true">subject</i>Plano Classificacao
                </a>
                <a class="mdc-list-item" href="/NivelClassificacao">
                    <i class="material-icons mdc-list-item__start-detail" aria-hidden="true">clear_all</i>Nível de Classificação
                </a>
                <a class="mdc-list-item" href="/TipoDocumental">
                    <i class="material-icons mdc-list-item__start-detail" aria-hidden="true">class</i>Tipo Documental
                </a>
                <a class="mdc-list-item" href="/FundamentoLegal">
                    <i class="material-icons mdc-list-item__start-detail" aria-hidden="true">gavel</i>Fundamentos Legais
                </a>
            </nav>

  
        </div>
    </nav>
    <div class="fixed left-footer">
        <img class="brasao" src="http://cdn.es.gov.br/images/logo/governo/brasao/left-white/Brasao_Governo_240.png" />
        <span class="copyright">Desenvolvido pelo PRODEST</span>
    </div>
</div>