<div class="left-content">
    <nav class="mdc-permanent-drawer mobile-hide drawer mdc-toolbar-fixed-adjust">
        <div class="mdc-list-group">
            <nav class="mdc-list">
                <a class="mdc-list-item drawer-home" href="~/">
                    <i class="material-icons mdc-list-item__start-detail" aria-hidden="true">home</i>Página Inicial
                </a>
            </nav>

            <hr class="mdc-list-divider">

            <nav class="mdc-list">
                <span class="uppercase subheader">Opções 1</span>
                <a class="mdc-list-item mdc-permanent-drawer--selected" href="#">
                    <i class="material-icons mdc-list-item__start-detail" aria-hidden="true">email</i>All Mail
                </a>
                <a class="mdc-list-item" href="#">
                    <i class="material-icons mdc-list-item__start-detail" aria-hidden="true">delete</i>Trash
                </a>
                <a class="mdc-list-item" href="#">
                    <i class="material-icons mdc-list-item__start-detail" aria-hidden="true">star</i>Star
                </a>
                <a class="mdc-list-item" href="#">
                    <i class="material-icons mdc-list-item__start-detail" aria-hidden="true">send</i>Sent Mail
                </a>
                <a class="mdc-list-item" href="#">
                    <i class="material-icons mdc-list-item__start-detail" aria-hidden="true">drafts</i>Drafts
                </a>
            </nav>

  
        </div>
    </nav>
    <div class="fixed left-footer">
        <img class="brasao" src="http://cdn.es.gov.br/images/logo/governo/brasao/left-white/Brasao_Governo_240.png" />
        <span class="copyright">Desenvolvido pelo PRODEST</span>
    </div>
</div>