#DivConteudo {
    min-height: 870px;
}


.barraNavegacaoLateral {
    background-color: #0080a5 !important;
}

    .barraNavegacaoLateral a {
        color: #d8f6ff !important;
    }

        .barraNavegacaoLateral a i {
            color: #d8f6ff !important;
        }


.barraNavegacaoLateralTopo {
    background-color: #006a88 !important;
}